<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercice ToDo</title>
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
</head>
<body>
{% for message in app.session.flashBag.get('info') %}
<div class="alert alert-info">{{ message }}</div>
{% endfor %}
{% for message in app.session.flashBag.get('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}
{% for message in app.session.flashBag.get('error') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}
{% for message in app.session.flashBag.get('danger') %}
    <div class="alert alert-warning">{{ message }}</div>
{% endfor %}

<h2 style="position: center">La Liste des todos : </h2>

<ol class="list-group">
{% for name, content in app.session.get('todos') %}
<li class="list-group-item">
    {{ name | capitalize }} : {{ content | capitalize  }}
</li>
{% endfor %}
</ol>
</body>
</html>
